.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: var(--header-height) + 5px;
  left: 0;
  overflow-x: hidden;
}
.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-list-item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e6e6e6;
  margin: 30px 0;
}
.sidebar-item-icon {
  color: #323130;
  
}
.sidebar-item-link {
  text-decoration: none;
  color: #323130;
  font-size: 1.5rem;
}
ion-icon {
  font-size: 1.25rem;
  margin-right: 10px;
}
